{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <h1>Menu</h1>
    <ul>
        <li>Example1:  <a href="./page1.html">300</a>, <a href="./page1_500.html">500</a>, <a href="./page1_700.html">700</a>, <a href="./page1_1500.html">1500</a></li>
        <li>Example2:  <a href="./page2.html">300</a>, <a href="./page2_500.html">500</a>, <a href="./page2_700.html">700</a>, <a href="./page2_1500.html">1500</a></li>
        <li>Example3:  <a href="./page3.html">300</a>, <a href="./page3_500.html">500</a>, <a href="./page3_700.html">700</a>, <a href="./page3_1500.html">1500</a></li>
        <li> <a href="http://codepen.io/GreenSock/pen/AwCKp">codepen</a> </li>
        <li>Example10:  <a href="./page10.html">300</a>, <a href="./page10_500.html">500</a>, <a href="./page10_700.html">700</a></li>
        <li>Example10:  <a href="http://codepen.io/GreenSock/full/2a53bbbcd47df627f25ed1b74beb407d/">GSAP</a></li>
    </ul>
{% endblock %}
